body{
    background-color: rgb(184, 218, 238);
}
.h1_label{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.results_create_event{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    width:80%;
    margin: 20px 60px;
    border-radius: 25px;
}
.results_create_event_row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    // border-style: solid;
    // border-color:red;
    width:50%;
}
.results_create_event_row_label{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    // border-style: solid;
    // border-color:red;
}
.results_create_event_row_value{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 0px;
    // border-style: solid;
    // border-color:black;    
}

.create_user_input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.create_user_input_row{
    display:flex;
    flex-direction: row;
}
.create_user_header{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.invalid_login{
    color:red;
}

.create_user{
    display:flex;
    flex-direction:column;
    border-style:solid;
    border-color: black;
}
.extra_div{
    display:flex;
    flex-direction: row;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create_event_input{
    width: 100px;
}
.create_event_div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height: 100%;
    border-style: solid;
    border-color: black;
    padding: 10px 10px;
    margin: 20px 60px;
    border-radius: 25px;
}
.create_info_div{
    // border-style: solid;
    // border-color: blue;
    width:100%;
}
.create_comic_div{
    // border-style: solid;
    // border-color: orange;;
    width:100%;
}
.holy-grail {
	min-height: 100vh;
}
.holy-grail,
.holy-grail-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.holy-grail-content {
	flex: 1 1 auto;
}
.holy-grail-sidebar-1 {
	order: -1;
}
.holy-grail-login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    border-style: solid;
    border-color: black;;
}
.holy-grail-create-event{
    border-style: solid;
    border-color: black;
}
@media (min-width: 768px) {
	/**
	 * Body items are now side by side
	 */
	.holy-grail-body {
		flex-direction: row;
	}

	/**
	 * Sidebars have a basic 260 width
	 * and are not really flexible anymore
	 */
	.hg-sidebar {
		flex: 0 0 260px;
    }
}